<h2><%= l(:timesheet_title)%></h2>
<%= render :partial => 'form' %>
<% content_for(:header_tags) do %>
<%= stylesheet_link_tag "timesheet", :plugin => 'redmine_timesheet', :media => 'all' %>
<%= stylesheet_link_tag 'timesheet-print', :plugin => 'redmine_timesheet', :media => 'print' %>
<%= javascript_include_tag 'timesheet', :plugin => 'redmine_timesheet' %>
<% end %>
