div#timesheet-form p { padding:0px 10px; float:left; clear:none;}
.icon-timesheet { background-image: url(../images/csv.png); }

#date-options { margin-left: 10px; }
#date-options br {display:inline}
/*#date-options input[type='radio'] { margin-left: -20px; }*/
#timesheet-form .button-to div {display:inline; }

#timesheet-form label { display: block; }

#timesheet-form fieldset > div {
	float: left;
	padding: 5px 10px;
}

#timesheet-form fieldset > .group-by {
	float: none;
}

#timesheet-form fieldset > div.timesheet-projects {
	clear: both;
}

#timesheet-form .timesheet-projects select,
#timesheet-form .timesheet-activities select,
#timesheet-form .timesheet-users select,
#timesheet-form .timesheet-groups select,
#timesheet-form .timesheet-trackers select {
	height: 300px;
	min-width: 200px;
	border: 1px solid #ddd;
	border-top: 0;
}

label.select-all {
	cursor: pointer;
	background-color: #f5f5f5;
}

#timesheet-form input:not([type=submit]), #timesheet-form select {
	border: 1px solid #aaa;
	background-color: #fff;
}

#timesheet-form input:not([type=submit]) {
	border-bottom: 1px solid #888;
}

#timesheet-form .form-actions {
  width: 100%;
}

#timesheet-form .radiobutton-label label {
	display: inline;
}

tr.total {
	border-color: #ddd !important;
	border-style: solid !important;
	border-width: 0px !important;
	border-top-width: 1px !important;
	border-bottom-width: 1px;
	height: 30px;
}

tr.total {
	display: none;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline !important;
}